.route__ulan-ude-title {
    background-image: url("../../../images/Route-line/Ulan-Ude-title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -3.7%;
    top: 62.7%;
    height: 4.7%;
    width: 7.1%;
    z-index: 1;
}