.page {
  margin: 0 auto;
  padding: 28px 0 24px;
  width: 100%;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 1280px) {
  .page {
    max-width: 1280px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}
