.route__omsk-point {
    background-image: url("../../../images/Route-line/Omsk-point.svg"),
        url("../../../images/Route-line/Omsk-point-inside.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 77.4%;
    top: 63.7%;
    height: 3.6%;
    width: 0.8%;
    z-index: 1;
}