.route__yaroslavl-point {
    background-image: url("../../../images/Route-line/Yaroslavl-point.svg"),
        url("../../../images/Route-line/Yaroslavl-point-inside.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 25%;
    top: 73%;
    height: 3.6%;
    width: 0.8%;
    z-index: 1;
}