.lead {
  width: 984px;
  box-sizing: border-box;
  margin: 48px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 56px;
  }
}

@media screen and (max-width: 1279px) {
  .lead {
    width: 90.62vw;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}
