.route__pskov-title {
    background-image: url("../../../images/Route-line/Pskov-title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -2.1%;
    top: 47.6%;
    height: 3.9%;
    width: 4.5%;
    z-index: 1;
}