.route__tver-title {
    background-image: url("../../../images/Route-line/Tver-title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 16.4%;
    top: 61.7%;
    height: 3.8%;
    width: 4.2%;
    z-index: 1;
}