.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1em, 1.25vw, 1.25vw);
  /* 16px */
  line-height: 1.125em;
  /* 18px */
  margin-right: 18px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media screen and (min-width: 1280px) {
  .footer__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: clamp(1.5em, 7.5vw, 3.13vw);
    /* 24px */
    line-height: 1em;
    /* 24px */
    margin-bottom: 32px;
  }

  .footer__link:last-of-type {
    margin-bottom: 0;
  }
}
