.route__krasnoyarsk-point {
    background-image: url("../../../images/Route-line/Krasnoyarsk-point.svg"),
        url("../../../images/Route-line/Krasnoyarsk-point-inside.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 92.6%;
    top: 39.2%;
    height: 3.6%;
    width: 0.8%;
    z-index: 1;
}