.lead__image {
  width: 100%;
  margin-top: 64px;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}
