.route__tumen-title {
    background-image: url("../../../images/Route-line/Tumen-title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 65.5%;
    top: 62.7%;
    height: 3.9%;
    width: 5.9%;
    z-index: 1;
}