.route__kotelnich-1-title {
    background-image: url("../../../images/Route-line/Kotelnich-1-title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 42%;
    top: 56.4%;
    height: 3.9%;
    width: 9.5%;
    z-index: 1;
}