.cover__title {
    position: relative;
    z-index: 1;
    font-size: 72px;
    line-height: 1.06em;
    /* 76px */
    max-width: 47.3%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    .cover__title {
        width: 1184;
        font-size: 72px;
    }
}

@media screen and (max-width: 1279px) {
    .cover__title {
        max-width: 54.7%;
        font-size: clamp(4.5em, 7.03vw, 5.625vw);
        /* min 72px */
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        max-width: 72.9%;
        font-size: clamp(4.5em, 9.375vw, 7.03vw);
        /* min 72px */
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 90%;
        font-size: clamp(2em, 10vw, 10vw);
        /* min 32px */
        line-height: 1.09em;
        /* 35px */
    }
}