.place__description {
  box-sizing: border-box;
  min-width: 35.6%;
  max-width: 484px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .place__description {
    min-width: 44.5%;
  }
}

@media screen and (max-width: 1023px) {
  .place__description {
    min-width: 45.8%;
  }
}

@media screen and (max-width: 767px) {
  .place__description {
    width: calc(100% - 16*2);
  }
}
