.route__omsk-title {
    background-image: url("../../../images/Route-line/Omsk-title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 75.9%;
    top: 74.1%;
    height: 3.9%;
    width: 3.9%;
    z-index: 1;
}